/*Content First - Mobile First*/
    /*Reglas Generales*/
        *{
            box-sizing: border-box;
            font-family: 'Raleway', 'segoe ui', 'calibri', sans-serif;
        }
        /*margenes*/
            body,
            h1,
            h2,
            h3,
            h4,
            header p,
            .menu{
                margin:0;
            }
        /*padding*/
            .menu{
                padding: 0;
            }
        /*listas*/
            .menu{
                list-style: none;
            }
        /*Utilities*/
            .btn{
                cursor: pointer;
                margin: .5rem;
                border-radius: .25rem;
                border: .1rem solid #eee;
                color: #eee;
                background-color: transparent;
            }
            .btn:hover{
                color: #448;
                background-color: #eee;
            }
    /*Navegacion*/
        nav{
            position: sticky;
            top: 0;
            z-index: 2;
            display: flex;
            justify-content: space-between;
            align-items: center;
            flex-wrap: wrap;
            background-image: linear-gradient(to right, #c36, #448);
        }
        nav a{
            display: block;
            padding:.5rem; 
            text-decoration: none;
            color: #eee;
        }
        .logo{
            font-weight: bold;
            letter-spacing: -.1rem;
            font-size: 1.5rem;
        }
        .menu{
            width:100%;
            max-height: 0;
            overflow: hidden;
        }
        .menu.active{
            max-height: 640px;
        }
        .menu a:hover{
            text-shadow: 0 0 .5rem #eee;
        }
    /*Cabecera Principal*/
        header{
            display: grid;
            align-content: center;
            min-height: min(100vh, 640px);
            padding: 1rem;
            color: #eee;
            background-color: #333;
            text-align: center;
            font-size: min(calc(2vw + .8rem), 3rem);
        }
    /*Tabla Colaboradores*/
        .colabs{
            margin: auto;
            border-collapse: collapse;
            color: #eee;
            background: linear-gradient(#c36, #448);
            text-align: left;
            text-shadow: 0 0 .5rem #333;
            box-shadow: -.5rem .5rem .5rem #333;
        }
        .colabs caption,
        .colabs th,
        .colabs td{
            padding: .5rem;
        }
        .colabs caption{
            border-radius: .25rem .25rem 0 0;
            background-color: #c36;
            font-weight: bold;
            text-transform: uppercase;
        }
        .colabs thead{
            background-color: #3333;
        }
        .colabs tbody tr:nth-child(odd){
            background-color: #6668;
        }
        .colabs tbody tr:nth-child(even){
            background-color: #9998;
        }
    /*Redes Sociales*/
        .social{
            display: flex;
            justify-content: center;
        }
        .social a{
            position: relative;
            margin:.25rem;
            border-radius: .25rem;
            padding: .5rem;
            color:#eee;
            background-color: #333;
            text-decoration: none;
        }
        .social a:hover{
            bottom: .25rem;
            background-color: #666;
            box-shadow: 0 0 .5rem #333;
        }
/*Small Devices - Smartphones*/

/*Medium Devices - Tablets*/
@media screen and (min-width:768px){
    nav .btn{ 
        display: none
    }
    .menu{
        display: flex;
        width: auto;
        max-height: 640px;
    }
}
/*Large Devies - Laptops*/

/*Extra Large - Desktop*/
@media screen and (min-width:1200px){
    nav{
        justify-content: space-around;
    }
}
/*Extra extra large - HD Desktop*/